<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ presentation.name }}</title>
    <meta name="viewport" content="width=1024" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/impress-demo.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/highlight.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.css">
    <script type="text/javascript">
        hljs.tabReplace = '    ';
        hljs.initHighlightingOnLoad();
    </script>

</head>
<body>
<div id="impress" class="impress-not-supported">
    {% for slide in presentation.slide_set.all %}
        {% include "presentations/slide.html" %}
    {% endfor %}
</div>
<script src="{{ STATIC_URL }}js/impress.js" script type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        impress().init();
    });
</script>
</body>
</html>